[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "gpboost"]
	path = gpboost
	url = https://github.com/cran/gpboost
[submodule "spate"]
	path = spate
	url = https://github.com/fabsig/spate
